<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please check your account! </h1>
    <h2>You have a new notification</h2>
  </body>
</html>
