<div id="nav_bar" class="container">
  <div class="row">
    
      <% if user_signed_in? %>
       <p class="cell"><%= button_to 'Logout',destroy_user_session_path, method: :delete,class: "btn btn-default" %></p>
      <% else %>
        <p class="cell"><%= button_to 'Login', new_user_session_path, method: :get,class: "btn btn-default" %></p>
      <% end %>
    

    <% if user_signed_in? %>
      <p class="cell"><%= button_to 'Home', root_path, method: :get, class: "btn btn-default" %></p>
      <% if current_user.try(:admin) %>
        <p class="cell"><%= button_to 'Add A Raspberry PI', new_raspberry_path, method: :get,class: "btn btn-default" %></p>
      <% end %>
    
    <% require 'date' %>
    <%= link_to 'raspberry_test',raspberries_path(password: "12345",notification: {time: Time.new,unit_id: "2"}) %>
    <% end %>
  </div>
 <h1 class="text-center">Welcome to PAC Security</h1> 
</div>
<br>
