<!DOCTYPE html>
<html>
<head>
  <title>Pac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="alert_box" class="container">
    <p class="notice flash"><%= notice %></p>
    <p class="alert flash"><%= alert %></p>
  </div>
  <%= render 'layouts/navbar' %>

  <%= yield %>


</body>
</html>
