@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
	font-size: 3em;
	font-weight: bold;
}
#alert_box {
	height: 50px;
}
#nav_bar {
	background-color: #666666;
	padding: 5px;
	padding-bottom: 50px;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
	padding-right: 10px;
}
#login {
	float: right;
	padding-right: 15px;
}
#note {
	background-color: #d3d3d3;
	padding-bottom: 20px;
}
.unit_style {
	padding-left: 10px;
	padding-top: 10px;
	background-color: #d3d3d3;
	padding-bottom: 20px;
}
.edit_border {
	border-style: solid;
	border-width: 3px;
}

