<div class="container" >
  <div class="edit_border">
  <h3 class="text-center">Assign a Raspberry PI to <%= @user.try(:email) %></h3>
  <% @unit_ids_left.each do |u| %>
    <div style="width: 80%;"id="note" class="container">
      <br>
      <p>Unit ID:<%= u.unit_id%></p>
      <%= link_to 'Assign this Raspberry PI', add_raspberry_path(flag: "assign",unit_id: u.unit_id,user_id: @user.id), method: :get %>
    </div>
    <br>
  <% end %>
  </div>
  <br>
  <div class="edit_border">
  <h3 class="text-center">Remove Raspberry PI From <%= @user.try(:email) %></h3>
  <% @unit_ids_have.each do |u| %>
    <div style="width: 80%;"id="note" class="container">
      <br>
      <p>Unit ID:<%= u.unit_id%></p>
      <%= link_to 'Remove this Raspberry PI', add_raspberry_path(flag: "remove",unit_id: u.unit_id,user_id: @user.id), method: :get %>
    </div>
    <br>
  <% end %>
  </div>

</div>
