<% if current_user.try(:admin)%>
  <% @users.each do |u| %>
    <div id="note" class="container">
      <br>
      <p>User Email: <%= u.try(:email) %></p>
      <hr>
      <%= link_to 'Delete User',notifications_path(flag: "delete",user_id: u.id) %>
      <br>
      <%= link_to 'Edit User Unit Assignments',add_raspberry_path(user_id: u.id)%>
    </div>
    <br>
  <% end %>

<% elsif user_signed_in? %>
  <% @notifications.each do |n| %>
    <div id="note" class="container">
      <p>Time: <%= n.try(:time)%></p>
      <p>Unit ID: <%= n.try(:unit_id) %></p>
      <%= button_to 'Remove Notification', notification_path(n), method: :delete %>
    </div>
    <br>
  <% end %>
<% end %>

