<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @notification.time %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @notification.unit_id %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
