<%= form_for(@raspberry) do |f| %>
  <% if @raspberry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raspberry.errors.count, "error") %> prohibited this raspberry from being saved:</h2>

      <ul>
      <% @raspberry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field unit_style">
    <%= f.label 'Unit ID'%><br>
    <%= f.number_field :unit_id, min: 1 %>
  </div>

  <div class="actions">
    <%= f.submit 'Add Raspberry PI'%>
  </div>
<% end %>
